[submodule "PlatformAbstract/lwip"]
	path = PlatformAbstract/lwip
	url = git@github.com:JohnnyB1290/jblib-platform-abstract-lwip.git
[submodule "PlatformAbstract/webserver"]
	path = PlatformAbstract/webserver
	url = git@github.com:JohnnyB1290/jblib-platform-abstract-webserver.git
[submodule "PlatformAbstract/netutilities"]
	path = PlatformAbstract/netutilities
	url = git@github.com:JohnnyB1290/jblib-platform-abstract-netutilities.git
[submodule "PlatformAbstract/jbutilities"]
	path = PlatformAbstract/jbutilities
	url = git@github.com:JohnnyB1290/jblib-platform-abstract-jbutilities.git
[submodule "PlatformAbstract/jbkernel"]
	path = PlatformAbstract/jbkernel
	url = git@github.com:JohnnyB1290/jblib-platform-abstract-jbkernel.git
[submodule "PlatformAbstract/ftpserver"]
	path = PlatformAbstract/ftpserver
	url = git@github.com:JohnnyB1290/jblib-platform-abstract-ftpserver.git
[submodule "lpc43xx/jbdrivers"]
	path = lpc43xx/jbdrivers
	url = git@github.com:JohnnyB1290/jblib-lpc43xx-jbdrivers.git
[submodule "lpc43xx/lpcopen"]
	path = lpc43xx/lpcopen
	url = git@github.com:JohnnyB1290/jblib-lpc43xx-lpcopen.git
[submodule "zynq/jbdrivers"]
	path = zynq/jbdrivers
	url = git@github.com:JohnnyB1290/jblib-zynq-jbdrivers.git
[submodule "imxrt/jbrivers"]
	path = imxrt/jbrivers
	url = git@github.com:JohnnyB1290/jblib-imxrt-jbrivers.git
